/* stylelint-disable-next-line selector-type-no-unknown */
uni-page-body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $uni-text-color;
}

.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentcolor;
}
